@font-face {
  font-family: HackGen;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/HackGen-Regular-2.8.0.ttf') format('ttf');
  font-display: swap;
}

button,
a {
  @apply transition;
}

button {
  @apply cursor-pointer;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  @apply outline-transparent;
}
