.markdown-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-600;
  }

  h1 {
    @apply border-b border-gray-3 leading-normal text-3xl mt-10 mb-2;
  }

  h2:not(.link-card h2) {
    @apply border-b border-gray-3 leading-normal text-2xl mt-10 mb-2;
  }

  h3 {
    @apply text-xl mt-8 mb-2;
  }

  h4 {
    @apply text-lg mt-8 mb-1;
  }

  h5,
  h6 {
    @apply text-base mt-6 mb-1;
  }

  p + p {
    @apply mt-4;
  }

  ul,
  ol {
    @apply my-4 pl-8;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply my-1;
  }

  li > ul,
  li > ol {
    @apply my-0;
  }

  a:not(.link-card a) {
    @apply text-blue-500;
  }

  a:hover:not(.link-card a) {
    @apply underline underline-blue-500 decoration-solid underline-offset-2;
  }

  a.heading-link:not(.link-card a) {
    @apply text-slate-500;
  }

  a.heading-link:hover:not(.link-card a) {
    @apply underline-slate-500;
  }

  img:not(.link-card img) {
    @apply max-w-full h-auto my-4 mx-auto block drop-shadow-md;
  }

  .scroll-table-block {
    @apply overflow-x-auto;
  }

  table {
    @apply my-4 border border-slate-300 w-full text-sm border-collapse leading-normal overflow-auto;
  }

  th,
  td {
    @apply border border-slate-300 px-2 py-1;
  }

  th {
    @apply bg-slate-200 font-700;
  }

  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    @apply bg-slate-50;
  }

  hr {
    @apply my-5;
  }

  .remark-code-container {
    @apply my-5 relative;
  }

  .remark-code-title {
    @apply font-hackGen text-xs px-2.5 py-0.5 bg-slate-600 inline-block text-white leading-5 rounded-t-1;
  }

  :not(ul, ol) + .remark-code-title {
    @apply mt-4;
  }

  pre {
    @apply py-5 px-4;
  }

  pre,
  code {
    @apply font-hackGen;
  }

  :not(pre) > code {
    @apply px-1 py-0.5 text-red-700 text-sm rounded bg-stone-100;
  }

  pre > code {
    @apply bg-transparent text-inherit;
  }

  .copy-code-button {
    @apply font-hackGen text-white text-xs absolute top-0 right-0 py-1 px-2 opacity-0;
  }

  .remark-code-title ~ .copy-code-button {
    @apply top-[25px];
  }

  .copy-code-button:focus,
  .remark-code-container:hover > .copy-code-button {
    @apply opacity-100;
  }

  blockquote {
    @apply font-italic text-slate-500 border-l-3 border-slate-400 pl-4 my-4;
  }

  // ツイートの埋め込みをすると
  // インラインスタイルで余白定義されているので上書きする
  div.twitter-tweet:is([style]) {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}
