---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout
  title="404ページ"
  description="ご指定のコンテンツが見つかりませんでした"
>
  <h2 class="mb-8 text-2xl font-600">404 Not Found</h2>
  <p>ご指定のコンテンツが見つかりませんでした。</p>
  <p>
    サイト <a href="/" class="underline underline-offset-2 decoration-solid"
      >Home</a
    >
     にどうぞ。
  </p>
</BaseLayout>
