---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ImageWrapper from '@/components/ImageWrapper.astro';
import { ACCOUNT_LINKS } from '@/consts';
import '@/styles/markdown.scss';
---

<BaseLayout title="About" description="h-yoshikawa44の簡易的なプロフィール">
  <h2 class="mb-8 text-2xl font-600">About</h2>
  <div class="flex items-center">
    <ImageWrapper
      className="w-[30%]"
      src="my-icon.png"
      alt="h-yoshikawa44のアイコン"
    />
    <div class="ml-8 flex flex-col space-y-3">
      <h3 class="text-xl">よし（h-yoshikawa44）</h3>
      <div class="flex items-center space-x-4">
        <a href={ACCOUNT_LINKS.github}
          ><span
            title="GitHub - @h-yoshikawa44"
            class="i-logos:github-icon block text-2xl"></span></a
        >
        <a href={ACCOUNT_LINKS.x}
          ><span
            title="X - @yoshi44_lion"
            class="i-ri:twitter-x-line block text-2xl"></span></a
        >
      </div>
      <p>
        Web Developer。<br />
        ここ数年はフロントエンドメインで活動しています。 <br
        />経歴や経験技術、資格などは<a
          href={ACCOUNT_LINKS.portfolio}
          class="underline underline-offset-2 decoration-solid"
          >ポートフォリオ</a
        >を参照。
      </p>
    </div>
  </div>
  <hr class="my-8" />
  <!-- ここから下はマークダウンと同じスタイルを使う -->
  <div class="markdown-content">
    <div>
      <h3>略歴</h3>
      <div>
        <p>2017/10からエンジニアをやっています。</p>
        <p>
          元々はバックエンド寄りの技術スタックでしたが、React の宣言的 UI
          に触れてからフロントエンドに関心を持つようになって、フロントエンドに転向したようなやつです。<br
          />
          主に関心があるのは TypeScript / React / Next.js 周辺。最近は Astro とかも。
        </p>
      </div>
    </div>
    <div>
      <h3>当ブログで書いていること</h3>
      <div>
        <p>
          主に自分の関心があることについて、自分の頭の情報整理も兼ねて記事を書いています。<br
          />
          なので、React / Next.js 周りが割と多い傾向ですね。<br />
          誰かの役に立てばいいなと思いつつ、起点は自分のために書いているので、マイペースに投稿中（1年で12記事程度）
        </p>
        <p>
          技術記事の他に、技術関連ツール・サービスや資格試験レポート。技術イベントの資料リンク集、たまに雑談ネタなども投稿しています。<br
          />
          それと自分が精神疾患と付き合いながら生きているので、体調のことも書くことがあります（ここは好みが分かれるかも）
        </p>
        <p>
          全記事の RSS に加え、記事カテゴリごとの RSS
          も提供しているので、お好みに合わせてご活用ください。
        </p>
      </div>
    </div>
    <div>
      <h3>記事の最新更新日</h3>
      <div>
        <p>
          単純に記事ファイルの最終更新日ではなく、手動で更新しています。<br />
          これは、内容が変わらない範囲での細かな言い回しや句読点の調整だけでも最新更新日時が新しくなってしまうのは避けたい意図です。
        </p>
      </div>
    </div>
    <div>
      <h3>記事のアーカイブ</h3>
      <div>
        <p>
          内容が古くなった記事も基本的には残していますが、リンク切れを多く起こしているなどの理由でアーカイブ扱いとして非公開にすることがあります。
        </p>
        <details>
          <summary>アーカイブした記事</summary>
          <ul>
            <li>
              2021/05/31
              ローコードでAPI作成～テスト～デプロイまでできる開発者プラットフォーム「Buildable」をさらっと紹介してみる
            </li>
          </ul>
        </details>
      </div>
    </div>
  </div>
</BaseLayout>
