---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<li>
  <a
    href={href}
    class="anchor-link-list-item block w-full px-4 py-0.5 text-sm focus:bg-slate-2 hover:bg-slate-2"
    ><slot /></a
  >
</li>
