---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<header class="from-brand-start to-brand-end bg-gradient-to-b py-3">
  <div class="mx-auto px-2 color-white container sm:px-4">
    <div class="flex items-baseline">
      <h1 class="font-fatface text-2xl">
        <a href="/">{SITE_TITLE}</a>
      </h1>
      <p class="ml-4 color-white/75">{SITE_DESCRIPTION}</p>
      <button id="open-menu-button" class="ml-auto block lg:hidden">test</button
      >
    </div>
  </div>
</header>
