---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

type Props = {
  noTopHeading?: boolean;
  isMarkdownPage?: boolean;
};

const { noTopHeading = false, isMarkdownPage = false } = Astro.props;
---

<header
  class="sticky top-0 z-10 from-brand-start to-brand-end bg-gradient-to-b py-3 lg:static"
>
  <div class="mx-auto px-4 color-white container">
    <div class="flex items-baseline">
      {
        noTopHeading ? (
          <div>
            <a href="/" class="font-fatface text-2xl">
              {SITE_TITLE}
            </a>
          </div>
        ) : (
          // 記事ページはこちら
          <h1 class="font-fatface text-2xl">
            <a href="/">{SITE_TITLE}</a>
          </h1>
        )
      }<p class="ml-4 hidden color-white/75 sm:block">
        {SITE_DESCRIPTION}
      </p>
      <div class="ml-auto mt-auto flex lg:hidden space-x-1">
        {
          isMarkdownPage && (
            <button
              id="open-anchor-menu-button"
              title="アンカーリンク一覧のメニューを開く"
              class="px-2"
            >
              <span class="i-teenyicons:anchor-solid block text-xl" />
            </button>
          )
        }
        <button id="open-nav-menu-button" title="メニューを開く" class="px-2"
          ><span class="i-system-uicons:menu-vertical block text-2xl"
          ></span></button
        >
      </div>
    </div>
  </div>
</header>
