---
import NavLinkList from '@/components/NavLinkList.astro';
---

<div id="menu" class="hidden">
  <div
    id="menu-backdrop"
    class="fixed bottom-0 left-0 right-0 top-0 z-1000 backdrop-blur-sm"
  >
  </div>
  <div
    class="fixed right-4 top-4 z-1200 max-w-xs w-full rounded-2 bg-white py-4 text-slate-800 shadow-md"
  >
    <button
      id="close-menu-button"
      title="メニューを閉じる"
      class="ml-auto block px4 py-1"
      ><span class="i-system-uicons:cross block text-2xl"></span></button
    >
    <NavLinkList />
  </div>
</div>
