---
import NavLinkListItem from '@/components/NavLinkListItem.astro';
import { CATEGORY_LIST, CATEGORY_MAP } from '@/consts';
---

<nav class="grid gap-y-4">
  <ul>
    <NavLinkListItem href="/">Home</NavLinkListItem>
    <NavLinkListItem href="/about">About</NavLinkListItem>
  </ul>
  <div>
    <p class="px-4 font-600">Blog Category List</p>
    <ul>
      {
        CATEGORY_LIST.map((category) => (
          <NavLinkListItem href={`/${category}/1`}>
            {CATEGORY_MAP[category]}
          </NavLinkListItem>
        ))
      }
    </ul>
  </div>
  <ul>
    <NavLinkListItem href="/tags">タグ一覧</NavLinkListItem>
    <NavLinkListItem href="/form">お問い合わせ</NavLinkListItem>
    <NavLinkListItem href="/policy">プライバシーポリシー</NavLinkListItem>
  </ul>
</nav>
