---
import type { MarkdownHeading } from 'astro';
import NavLinkList from '@/components/NavLinkList.astro';
import AnchorLinkList from '@/components/AnchorLinkList.astro';

type Props = {
  markdownHeadings: MarkdownHeading[];
};

const { markdownHeadings } = Astro.props;
const isMarkdownPage = markdownHeadings.length !== 0;
const selectAnchorButtonTitle = isMarkdownPage
  ? 'アンカーリンク一覧を表示'
  : 'アンカーリンク一覧を表示（このページでは利用不可）';
---

<aside
  class="sticky top-4 max-h-[calc(100vh_-_32px)] overflow-y-auto rounded-2 bg-white py-4 md:w-60"
>
  <div class="mb-1 flex justify-around">
    <button
      id="select-nav-button"
      title="ナビゲーションリンク一覧を表示"
      class="custom-after-border-b rounded-6 p-2 focus:bg-slate-2/50 hover:bg-slate-2/70"
      ><span class="i-teenyicons:pin-outline block text-xl"></span></button
    >
    <button
      id="select-anchor-button"
      title={selectAnchorButtonTitle}
      disabled={!isMarkdownPage}
      class="rounded-6 p-2 disabled:color-slate-4/50 enabled:focus:bg-slate-2/50 enabled:hover:bg-slate-2/50"
      ><span class="i-teenyicons:anchor-solid block text-xl"></span></button
    >
  </div>
  <div id="sidebar-nav">
    <NavLinkList />
  </div>
  <div id="sidebar-anchor-list" class="hidden">
    <AnchorLinkList markdownHeadings={markdownHeadings} />
  </div>
</aside>
<script>
  import '@/scripts/sideBar';
</script>
