---
import NavLink from '@/components/NavLink.astro';
import { CATEGORY_LIST, CATEGORY_MAP } from '@/consts';
---

<aside class="rounded-2 bg-white py-4 md:min-w-52">
  <nav class="grid gap-y-4">
    <ul>
      <NavLink href="/">Home</NavLink>
      <NavLink href="/about">About</NavLink>
    </ul>
    <div>
      <p class="px-4 font-600">Blog Category List</p>
      <ul>
        {
          CATEGORY_LIST.map((category) => (
            <NavLink href={`/${category}/1`}>{CATEGORY_MAP[category]}</NavLink>
          ))
        }
      </ul>
    </div>
    <ul>
      <NavLink href="/form">お問い合わせ</NavLink>
      <NavLink href="/policy">プライバシーポリシー</NavLink>
    </ul>
  </nav>
</aside>
