---
import { MarkdownHeading } from 'astro';
import NavLinkList from '@/components/NavLinkList.astro';
import AnchorLinkList from '@/components/AnchorLinkList.astro';

type Props = {
  markdownHeadings?: MarkdownHeading[];
};

const { markdownHeadings = [] } = Astro.props;
---

<aside
  class="sticky top-4 max-h-[calc(100vh_-_32px)] overflow-y-auto rounded-2 bg-white py-4 md:min-w-52"
>
  <div class="mb-1 flex justify-around">
    <button
      id="select-menu-button"
      title="ナビゲーションリンク一覧を表示"
      class="custom-after-border-b rounded-6 p-2 focus:bg-slate-2/50 hover:bg-slate-2/70"
      ><span class="i-teenyicons:pin-outline block text-xl"></span></button
    >
    <button
      id="select-anchor-button"
      title="アンカーリンク一覧を表示"
      class="rounded-6 p-2 focus:bg-slate-2/50 hover:bg-slate-2/70"
      ><span class="i-teenyicons:anchor-solid block text-xl"></span></button
    >
  </div>
  <div id="sidebar-menu">
    <NavLinkList />
  </div>
  <div id="sidebar-anchor-list" class="hidden">
    <AnchorLinkList markdownHeadings={markdownHeadings} />
  </div>
</aside>
<script>
  import '@/scripts/sideBar';
</script>
