---
import "@unocss/reset/tailwind.css";
import "@/styles/global.css";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import SideBar from "@/components/SideBar.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="font-sawarabi min-h-full flex flex-col break-words bg-slate-100 text-left leading-6 text-slate-800"
  >
    <Header />
    <main class="flex-shrink-0 flex-grow-1 flex-basis-auto">
      <div class="my-8">
        <div class="mx-auto flex px-2 container sm:px-4">
          <SideBar />
          <div class="ml-6 flex-grow-1 rounded-2 bg-white p-4">
            <slot />
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
