---
import { MarkdownHeading } from 'astro';
import '@unocss/reset/tailwind.css';
import 'wicg-inert';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import SideBar from '@/components/SideBar.astro';
import Footer from '@/components/Footer.astro';
import Menu from '@/components/Menu.astro';
import '@/styles/global.scss';

type Props = {
  title?: string;
  description?: string;
  noTopHeading?: boolean;
  markdownHeadings?: MarkdownHeading[];
};

const { title, description, noTopHeading, markdownHeadings } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="h-full flex flex-col break-words bg-slate-100 text-left font-sawarabi leading-6 text-slate-800"
  >
    <div id="base-contents" class="min-h-full flex flex-col">
      <Header noTopHeading={noTopHeading} />
      <main class="flex-shrink-0 flex-grow-1 flex-basis-auto">
        <div class="my-8">
          <div class="mx-auto flex px-2 container sm:px-4">
            <div class="hidden place-self-auto lg:block">
              <SideBar markdownHeadings={markdownHeadings} />
            </div>
            <div class="flex-grow-1 rounded-2 bg-white p-4 lg:ml-6">
              <slot />
            </div>
          </div>
        </div>
      </main>
      <Footer />
    </div>
    <Menu />
    <script>
      import '@/scripts/menu';
    </script>
  </body>
</html>
